<div>
  <div class="login-form">
    <!-- Login form -->
    <div class="form" *ngIf="isAuth">
      <h3>Авторизация пользователя</h3>
      <div *ngIf="errMessage.length > 0" class="alert alert-danger">
        <strong>Ошибка: </strong> {{ errMessage }}
      </div>
      <div class="form-group">
        <label for="username">Имя пользователя:</label>
        <input type="text" required minlength="4" id="username" #loginUser class="form-control">
        <span class="alert-danger"></span>
      </div>
      <div class="form-group">
        <label for="password">Пароль:</label>
        <input type="password" required id="password" #loginPass class="form-control">
      </div>
      <div class="form-group">
        <div class="text-center">
          <button (click)="auth(loginUser, loginPass)" class="btn btn-primary">
            Войти
          </button>
          <div>
            <a href="javascript:void(0);" (click)="activateReg()">Нет аккаунта? Зарегистрироваться</a>
          </div>
        </div>
      </div>
    </div>

    <!-- Register form -->
    <div class="form" *ngIf="!isAuth">
      <h3>Регистрация пользователя</h3>
      <div *ngIf="errMessage.length > 0" class="alert alert-danger">
        <strong>Ошибка: </strong> {{ errMessage }}
      </div>
      <div class="form-group">
        <label for="username">Имя пользователя:</label>
        <input type="text" required minlength="4" #regUser class="form-control">
        <span class="alert-danger"></span>
      </div>
      <div class="form-group">
        <label for="password">Пароль:</label>
        <input type="password" required #regPass class="form-control">
      </div>
      <div class="form-group">
        <label for="password">Подтверждение пароля:</label>
        <input type="password" required #regPassConfirm class="form-control">
      </div>
      <div class="form-group">
        <div class="text-center">
          <button (click)="register(regUser, regPass, regPassConfirm)" class="btn btn-primary">
            Регистрация
          </button>
          <div>
            <a href="javascript:void(0);" (click)="activateAuth()">Есть аккаунт? Авторизоваться</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
