.tab-content-data {
  margin-top: 15px;
}

.info-block {
  margin-top: 15px;
}

.main-group-info {
  width: 100%;
  padding: 5px 15px;
  background-color: #EEEEEE;
  margin: 15px 0px;
}

.main-group-info > .alert {
  margin: 0px;
}
